:root{
    --show-width: 10rem;
}

.cast-item{
    min-height: max-content;
    min-width: max-content;
    max-width: max-content;
    margin-right: 1rem;
    border-radius: 4px;
    padding-bottom: 1rem;
    background-color: rgb(55, 52, 52);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
}
div .cast-image{
    width: var(--show-width);
    position: relative;
    aspect-ratio: 27/40;
    border-radius: 6px;
    overflow: hidden;
}
div .cast-image:hover{
    cursor: pointer;  
}
.s-image:hover{
    filter: brightness(120%);
    transform: scale(1.1);
}
.cast-text{
    text-align: center;
    text-wrap: wrap;
    max-width: var(--show-width);
}

