.welcome{
    width: 100dvw;
    /* height: 20rem; */
    height: fit-content;
    /* border: 1px solid white; */
}

/* .welcome-swiper{
    position: relative;
    height: 100%;
}
.swi-image{
    position: relative;
    height: 100%;
    border: 2px solid green;
} */

.swiper {
  width: 100dvw;
  height: 80dvh;
}

.swiper-slide{
  position: relative;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

